body {
  font-family: 'Inter', 'Arial', 'sans-serif';
  background: black;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  z-index: 1;
  height: 100vh;
}

