.elements__deleteButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../../images/Delete.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  background-color: rgb(255, 255, 255, .0);
  z-index: 1;
  cursor: pointer;
  transition: .5s linear;
}

.elements__deleteButton:hover {
  opacity: 0.6;
}
