.profile__intro {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 879px) {
  .profile__intro {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .profile__intro {
    margin: 0 auto;
    width: 282px;
  }
}
