.popup__form-input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0 0 30px;
  padding: 0 0 13px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__form-input:last-child {
  margin: 0;
}
